html{
   height: 100%;
   background-image: url(https://gifdb.com/images/high/fire-anime-skull-in-castlevania-jt4zevnpytloszme.gif);
   background-repeat: no-repeat;
   background-size: cover;
}

#heroi1,#heroi2{
    height: fit-content;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
    align-items: center;
    border: 5px solid black;
    background-color: rgba(240, 248, 255, 0.939);
    margin: 0;
}

.nome1{
    width: fit-content;
    justify-content: center;
    font-family: "Marmelad", sans-serif;
    font-size: 20px;
    font-weight:900;
    margin: 10px 0;
}

.nome2{
    margin: 0;
    font-family: "Permanent Marker", cursive;
    font-size: 40px;
}

#cards{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 4%;
    
}

#container{
    display: flex;
    flex-direction: column;
    gap: 3%;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.imagem{
    width: 16rem;
    height: 23rem;
    border: 4px solid black;
    
}

.vencedor{
    font-family: "Bungee Spice", sans-serif;
    font-size: 50px;
    
}